.section {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  overflow: hidden;
  height: 300px;
  background-color: white;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 1.01rem;
}
.section .section__image {
  width: 400px;
}
.section .section__image img {
  width: 100%;
}

.section__content {
  padding: 10px 40px;
  width: 500px;
  background-color: white;
  z-index: 999;
  margin-left: -50px;
  height: 100%;
}
.section__content h1 {
  color: hsl(217, 19%, 35%);
  padding-top: 1rem;
}
.section__content p {
  padding: 15px 0;
  font-size: 0.95rem;
  color: hsl(217, 19%, 35%);
}
.section__userAvatar img {
  width: 45px;
  border-radius: 50%;
}

.section__userDetails {
  display: flex;
  align-items: center;
  width: 100%;
}
.section__userNameDate {
  margin-left: 10px;
}
.section__userNameDate strong {
  color: hsl(217, 19%, 35%);
}
.section__userNameDate span {
  color: hsl(212, 23%, 69%);
}
.section__userNameDate > * {
  display: block;
  font-size: 0.95rem;
}

.share {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: hsl(210, 46%, 95%);
  cursor: pointer;
}

.share i {
  color: hsl(217, 19%, 35%);
  font-size: 15px;
}

@media screen and (max-width: 768px) {
  .section {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 500px;
  }

  .section .section__image {
    width: inherit;
    height: 200px;
  }
  .section .section__image img {
    width: 100%;
  }

  .section__content h1 {
    font-size: 0.95rem;
  }

  .section__content {
    padding: 0 40px;
    padding: 0;
    width: inherit;
    margin-left: 0;
  }

  .section__content h1 {
    padding: 25px 25px 0 25px;
  }

  .section__content p {
    padding: 12px 25px 25px 25px;
    font-size: 0.9rem;
  }

  .section__userNameDate > * {
    font-size: 0.85rem;
  }

  .section__userDetails {
    padding: 0 25px 10px 25px;
  }
}
