*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: 13px;
  padding: 0 20%;
  background-color: hsl(212, 23%, 69%);
  background-color: hsl(210, 46%, 95%);
}
